@import url('./reset.css');

@font-face {
    font-family: 'Nobile';
    src: url('./assets/nobile-regular-webfont.woff2') format('woff2'),
        url('./assets/nobile-regular-webfont.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@media only screen and (max-width: 800px) {

    body header {
        flex-direction: column;
    }
    body #container {
        display: grid;
        grid-template-rows: 100px 1fr;
    }
    
    body .header-option{
        height: 100%;
    }

    body #hero-area {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 2fr 1fr;
        width: 60%;
        min-width: 400px;
        gap: 10px;
        justify-items: center;
        align-items: center;
    }

    body #hero-area>h2 {
        grid-row: 1 / 2
    }

    body #hero-area>img {
        grid-column: 1 /2;
        grid-row: 2 / 3;
        width: 400px;
    }

    body #hero-area>button {
        grid-row: 3 / -1;
    }
}

:root {
    --color-background: #370617;
    --color-dark: #353A1C;
    --color-medium-dark: #616b37;
    --color-medium-light: #848f52;
    --color-light: #e2e7ca;
    --color-complementary1-dark: #a64616;
    --color-complementary1-light: #e4956d;
    --color-complementary2-dark: #4a0928;
    --color-complementary2-light: #df62af;
}

body {
    font-family: 'Nobile'sans-serif;
    background-color: var(--color-background);
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

/* * {
    outline: dashed red;
} */

#container {
    margin-bottom: 0px;
    flex: 1;
    display: grid;
    grid-template-rows: 80px 1fr;
}


header {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 0px 0px 0px 20px;
    background-color: var(--color-dark);
    color: var(--color-complementary1-light);
    align-items: center;
}

header>h1 {
    font-size: 3rem;
    text-shadow: var;
    min-width: 220px;
}


header>ul {
    justify-self: end;
    margin-right: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;

}

.header-option {
    width: 100px;
    background-color: var(--color-complementary1-light);
    font-size: 1.5rem;
    color: var(--color-dark);
    height: 70%;
    align-self: end;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-option:hover {
    background-color: var(--color-complementary1-dark);
    color: var(--color-light);
    cursor: pointer;
    padding-top: 10px;
}

.header-option.highlighted {
    background-color: var(--color-complementary1-dark);
    color: var(--color-light);
    cursor: auto;
    padding-top: 10px;
    pointer-events: none;
}

main {
    --padding: max(20px, 1vh);
    color: var(--color-light);
    padding: var(--padding);
    padding-bottom: 20px;
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-auto-rows: 1fr;
    gap: var(--padding);
    background-image: url('./assets/pizza.jpeg');
    background-size: cover;
    background-position: center;
}

main.fade {
    animation: fadeIn 1s linear;
}

main>div {
    background-color: rgba(44, 70, 18, 0.749);
    border-radius: 1rem;
    padding: 30px;
    box-shadow: 5px 5px 8px 3px black;
    align-items: center;
    justify-items: center;
    display: grid;
    gap: 20px;
    animation: moveToPlace 1s;
}

main>div p {
    justify-self: start;
}

main>div>h3 {
    grid-column: 1 / -1;
}

main h2,
main h3 {
    font-size: 2rem;
    color: var(--color-light);
}

main h3 {
    text-align: center;
}

button {
    border-radius: 2rem;
    background-color: var(--color-complementary1-light);
    padding: 1rem;
    font-size: 2rem;
    color: var(--color-background);
    box-shadow: 2px 2px 4px var(--color-complementary2-dark);
}

button:hover {
    background-color: var(--color-complementary2-dark);
    cursor: pointer;
    color: var(--color-light)
}

button:active {
    position: relative;
    left: 1px;
    top: 1px;
    box-shadow: 1px 1px 2px black;
}

#hero-area {
    grid-template-columns: minmax(300px, 1fr) 400px;
    grid-template-rows: 4fr 1fr;

    width: 80%;
    min-width: 700px;
    max-width: 1000px;
    gap: 10px;
}

#hero-area>h2 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#hero-area>img {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    width: 400px;
}

#hero-area>button {
    grid-row: 2 / -1;
    grid-column: 1 / -1;
}

#info-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
    justify-self: center;
}

#info-area>h2 {
    font-size: 2rem;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 1px solid;
    table-layout: auto;
    width: 300px;
    font-size: 1.1rem;
}

table td:nth-child(1) {
    text-align: right;
}

table td {
    padding: 10px;
}

table tr {
    color: var(--color-complementary2-dark);
    font-size: 1.2rem;
}

table tr:first-child {
    background-color: var(--color-medium-light);
}

table tr:nth-child(2) {
    background-color: var(--color-medium-dark);
}

table tr:nth-child(3) {
    background-color: var(--color-medium-light);
}

#pizzas-area {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.3fr 1fr;
    grid-auto-rows: 1fr;
    width: clamp(400px, 50%, 700px)
}

#pizzas-area img {
    width: 200px;
}


#contact-area {
    grid-template-columns: 0.2fr 1fr;
    width: clamp(300px, 50%, 500px)
}

#contact-area h3 {
    grid-column: 1 / -1;
}

#contact-area iframe {
    grid-column: 1 / -1;
    border: 0;
    width: 90%;
    height: 350px;
}

.icon {
    width: 24px;
    justify-self: right;
}


footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    gap: 2vw;
    background-color: var(--color-dark);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.5rem;
}

#github-logo {
    height: 30px;
}


@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes moveToPlace {
    from { transform : scale(0.3) translateY(3rem) translateX(2rem)}
    to   { transform : scale(1) translateY(0rem) translateX(0rem)} /* slide down to make room for advertisements */
}